/.vs/University/DesignTimeBuild/.dtbcache.v2
/University.Api/bin/Debug/netcoreapp3.1/appsettings.Development.json
/University.Api/bin/Debug/netcoreapp3.1/appsettings.json
/University.Api/bin/Debug/netcoreapp3.1/EntityFramework.dll
/University.Api/bin/Debug/netcoreapp3.1/EntityFramework.SqlServer.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/University.Api/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/University.Api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/University.Api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/University.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/University.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/University.Api/bin/Debug/netcoreapp3.1/Serilog.dll
/University.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/University.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/University.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/University.Api/bin/Debug/netcoreapp3.1/System.CodeDom.dll
/University.Api/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/University.Api/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
/University.Api/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/University.Api/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
/University.Api/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/University.Api/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/University.Api/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/University.Api/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/University.Api/bin/Debug/netcoreapp3.1/University.Api.deps.json
/University.Api/bin/Debug/netcoreapp3.1/University.Api.dll
/University.Api/bin/Debug/netcoreapp3.1/University.Api.exe
/University.Api/bin/Debug/netcoreapp3.1/University.Api.pdb
/University.Api/bin/Debug/netcoreapp3.1/University.Api.runtimeconfig.dev.json
/University.Api/bin/Debug/netcoreapp3.1/University.Api.runtimeconfig.json
/University.Api/bin/Debug/netcoreapp3.1/University.Common.dll
/University.Api/bin/Debug/netcoreapp3.1/University.Common.pdb
/University.Api/bin/Debug/netcoreapp3.1/University.Service.dll
/University.Api/bin/Debug/netcoreapp3.1/University.Service.pdb
/University.Api/obj/Debug/netcoreapp3.1/staticwebassets/University.Api.StaticWebAssets.Manifest.cache
/University.Api/obj/Debug/netcoreapp3.1/staticwebassets/University.Api.StaticWebAssets.xml
/University.Api/obj/Debug/netcoreapp3.1/University.Api.AssemblyInfo.cs
/University.Api/obj/Debug/netcoreapp3.1/University.Api.AssemblyInfoInputs.cache
/University.Api/obj/Debug/netcoreapp3.1/University.Api.assets.cache
/University.Api/obj/Debug/netcoreapp3.1/University.Api.csproj.CopyComplete
/University.Api/obj/Debug/netcoreapp3.1/University.Api.csproj.CoreCompileInputs.cache
/University.Api/obj/Debug/netcoreapp3.1/University.Api.csproj.FileListAbsolute.txt
/University.Api/obj/Debug/netcoreapp3.1/University.Api.csprojAssemblyReference.cache
/University.Api/obj/Debug/netcoreapp3.1/University.Api.dll
/University.Api/obj/Debug/netcoreapp3.1/University.Api.exe
/University.Api/obj/Debug/netcoreapp3.1/University.Api.genruntimeconfig.cache
/University.Api/obj/Debug/netcoreapp3.1/University.Api.MvcApplicationPartsAssemblyInfo.cache
/University.Api/obj/Debug/netcoreapp3.1/University.Api.MvcApplicationPartsAssemblyInfo.cs
/University.Api/obj/Debug/netcoreapp3.1/University.Api.pdb
/University.Api/obj/Debug/netcoreapp3.1/University.Api.RazorTargetAssemblyInfo.cache
/University.Api/obj/project.assets.json
/University.Api/obj/project.nuget.cache
/University.Api/obj/University.Api.csproj.nuget.dgspec.json
/University.Api/obj/University.Api.csproj.nuget.g.props
/University.Api/obj/University.Api.csproj.nuget.g.targets
/University.Common/bin/Debug/netcoreapp3.1/University.Common.deps.json
/University.Common/bin/Debug/netcoreapp3.1/University.Common.dll
/University.Common/bin/Debug/netcoreapp3.1/University.Common.pdb
/University.Common/obj/Debug/netcoreapp3.1/University.Common.AssemblyInfo.cs
/University.Common/obj/Debug/netcoreapp3.1/University.Common.AssemblyInfoInputs.cache
/University.Common/obj/Debug/netcoreapp3.1/University.Common.assets.cache
/University.Common/obj/Debug/netcoreapp3.1/University.Common.csproj.CoreCompileInputs.cache
/University.Common/obj/Debug/netcoreapp3.1/University.Common.csproj.FileListAbsolute.txt
/University.Common/obj/Debug/netcoreapp3.1/University.Common.csprojAssemblyReference.cache
/University.Common/obj/Debug/netcoreapp3.1/University.Common.dll
/University.Common/obj/Debug/netcoreapp3.1/University.Common.pdb
/University.DB/bin/Debug/DeploymentReport.txt
/University.DB/bin/Debug/DeploymentReport_1.txt
/University.DB/bin/Debug/DeploymentReport_2.txt
/University.DB/bin/Debug/DeploymentReport_3.txt
/University.DB/bin/Debug/DeploymentReport_4.txt
/University.DB/bin/Debug/DeploymentReport_5.txt
/University.DB/bin/Debug/DeploymentReport_6.txt
/University.DB/bin/Debug/DeploymentReport_7.txt
/University.DB/bin/Debug/DeploymentReport_8.txt
/University.DB/bin/Debug/DeploymentReport_9.txt
/University.DB/bin/Debug/University.DB.dacpac
/University.DB/bin/Debug/University.DB.dll
/University.DB/bin/Debug/University.DB.pdb
/University.DB/bin/Debug/University.DB.publish.sql
/University.DB/bin/Debug/University.DB.sql
/University.DB/bin/Debug/University.DB_1.publish.sql
/University.DB/bin/Debug/University.DB_2.publish.sql
/University.DB/bin/Debug/University.DB_3.publish.sql
/University.DB/bin/Debug/University.DB_4.publish.sql
/University.DB/bin/Debug/University.DB_5.publish.sql
/University.DB/bin/Debug/University.DB_6.publish.sql
/University.DB/bin/Debug/University.DB_7.publish.sql
/University.DB/bin/Debug/University.DB_8.publish.sql
/University.DB/bin/Debug/University.DB_9.publish.sql
/University.Common/obj/University.Common.csproj.nuget.dgspec.json
/University.Common/obj/University.Common.csproj.nuget.g.props
/University.Common/obj/University.Common.csproj.nuget.g.targets
/University.Common/obj/project.assets.json
/University.Common/obj/project.nuget.cache
/University.DB/obj/Debug/Model.xml
/University.DB/obj/Debug/postdeploy.sql
/University.DB/obj/Debug/refactor.xml
/University.DB/obj/Debug/University.DB.dll
/University.DB/obj/Debug/University.DB.pdb
/University.DB/obj/Debug/University.DB.sqlproj.FileListAbsolute.txt
/University.Service/bin/Debug/netcoreapp3.1/University.Common.dll
/University.Service/bin/Debug/netcoreapp3.1/University.Common.pdb
/University.Service/bin/Debug/netcoreapp3.1/University.Service.deps.json
/University.Service/bin/Debug/netcoreapp3.1/University.Service.dll
/University.Service/bin/Debug/netcoreapp3.1/University.Service.pdb
/University.Service/bin/Debug/netcoreapp3.1/University.Service.runtimeconfig.dev.json
/University.Service/bin/Debug/netcoreapp3.1/University.Service.runtimeconfig.json
/University.Service/obj/Debug/netcoreapp2.2/University.Service.assets.cache
/University.Service/obj/Debug/netcoreapp2.2/University.Service.csproj.FileListAbsolute.txt
/University.Service/obj/Debug/netcoreapp3.1/University.Service.AssemblyInfo.cs
/University.Service/obj/Debug/netcoreapp3.1/University.Service.AssemblyInfoInputs.cache
/University.Service/obj/Debug/netcoreapp3.1/University.Service.assets.cache
/University.Service/obj/Debug/netcoreapp3.1/University.Service.csproj.CopyComplete
/University.Service/obj/Debug/netcoreapp3.1/University.Service.csproj.CoreCompileInputs.cache
/University.Service/obj/Debug/netcoreapp3.1/University.Service.csproj.FileListAbsolute.txt
/University.Service/obj/Debug/netcoreapp3.1/University.Service.csprojAssemblyReference.cache
/University.Service/obj/Debug/netcoreapp3.1/University.Service.dll
/University.Service/obj/Debug/netcoreapp3.1/University.Service.genruntimeconfig.cache
/University.Service/obj/Debug/netcoreapp3.1/University.Service.pdb
/University.Service/obj/project.assets.json
/University.Service/obj/project.nuget.cache
/University.Service/obj/University.Service.csproj.nuget.dgspec.json
/University.Service/obj/University.Service.csproj.nuget.g.props
/University.Service/obj/University.Service.csproj.nuget.g.targets
